meta(name="viewport", content="width=device-width, initial-scale=1")
link(href="/libs/bootstrap/dist/css/bootstrap.min.css", rel="stylesheet")
link(href="/libs/clockpicker/dist/bootstrap-clockpicker.min.css", rel="stylesheet")
link(href="/libs/bootstrap-fileinput/css/fileinput.min.css", rel="stylesheet")
link(href="/build/index.css", rel="stylesheet")
link(href="/libs/bootstrap-star-rating/css/star-rating.min.css", rel="stylesheet")

script(src="/libs/jquery/dist/jquery.min.js")
script(src="/libs/bootstrap/dist/js/bootstrap.min.js")
script(src="/libs/moment/min/moment.min.js")
script(src="/libs/clockpicker/dist/bootstrap-clockpicker.min.js")
script(src="/libs/bootstrap-fileinput/js/fileinput.min.js")
script(src="/libs/bootstrap-star-rating/js/star-rating.min.js")

