nav.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      button.navbar-toggle.collapsed(data-toggle='collapse' data-target="#navbar-collapse")
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href="/") 海门印象 
    .collapse.navbar-collapse#navbar-collapse
      form.navbar-form.navbar-right(method='GET', action='/results')
        .input-group.pull-right
          input.form-control(type='text', name='q')
          span.input-group-btn
            button.btn.btn-default(type='submit') 搜索


#mapModal.modal.fade
  .modal-dialog
    .modal-content
      .modal-header 地图选点
      .modal-body
        #myMap
      .modal-footer
        button.btn.btn-default.btn-block(type='button', data-dismiss='modal') 关闭