extends ../layout

block content
  .container
    .row
      div.list-group
        each item in businesses
          a.list-group-item
            .media
              .media-left
                img.media-object(src="#{item.poster}" height="100px" width="160px")/
              .media-body
                h4.media-heading #{item.name}
                p.text-right #{item.address}
                
