extends ../../layout

block content
  .container
      form#inputForm.form-horizontal(method='post', action='/admin/business/save', enctype='multipart/form-data')
        if business._id
          input(type='hidden', name='business[_id]', value=business._id)
        .form-group.has-feedback
          label.col-xs-2.control-label(for='inputName') 名称
          .col-xs-10
            input#inputName.form-control(type='text', name='business[name]', value=business.name)
            span.glyphicon.glyphicon-user.form-control-feedback
        .form-group.has-feedback
          label.col-xs-2.control-label(for='inputPhone') 电话
          .col-xs-10
            input#inputPhone.form-control(type='text', name='business[phone]', value=business.phone)
            span.glyphicon.glyphicon-earphone.form-control-feedback
        .form-group.has-feedback
          label.col-xs-2.control-label(for='inputCose') 人均消费
          .col-xs-10
            input#inputCose.form-control(type='text', name='business[cost]', value=business.cost)
            span.glyphicon.glyphicon-yen.form-control-feedback
        .form-group
          label.col-xs-2.control-label(for='inputAddress') 地址
          .col-xs-10
            .input-group
              input#inputAddress.form-control(type='text', name='business[address]', value=business.address)
              span.input-group-btn
                button.btn.btn-primary(type='button', data-toggle='modal', data-target='#mapModal')
                  span.glyphicon.glyphicon-map-marker
        .form-group
          label.col-xs-2.control-label(for='inputOpentime') 开始时间
          .col-xs-10
            .input-group.date#datetimepicker1
              input#inputOpentime.form-control(type='text', name='business[opentime]', value=business.opentime)
              span.input-group-addon
                span.glyphicon.glyphicon-time
        .form-group
          label.col-xs-2.control-label(for='inputClosetime') 结束时间
          .col-xs-10
            .input-group.date#datetimepicker2
              input#inputClosetime.form-control(type='text', name='business[closetime]', value=business.closetime)
              span.input-group-addon
                span.glyphicon.glyphicon-time
        .form-group
          label.col-xs-2.control-label(for='inputPoster') 海报
          .col-xs-10
            input#inputPoster.form-control(type='file', accept='image/*', multiple='true', name='file')
        .form-group
          label.col-xs-2.control-label(for='inputStar') 评分
          .col-xs-10
            input#inputStar.form-control(type='number', name='business[star]', value=business.star)
        .form-group
          label.col-xs-2.control-label(for='inputSummary') 简介
          .col-xs-10
            textarea#inputSummary.form-control(type='text', name='business[summary]', rows=6 )= business.summary

        .form-group
          .col-xs-offset-2.col-xs-10
            button.btn.btn-danger.btn-block(type='submit') 保存

  input#uploadToken(type='hidden', value=uploadToken)
  .hidden#initPosterUrls
    each posterUrl in initPosterUrlArr
      input(type='hidden' value=posterUrl)


  script(src='http://api.map.baidu.com/api?type=quick&ak=jsbZesaYww9vSRbbQd59G9kS&v=1.0')
  //- script(src='http://api.map.baidu.com/api?ak=jsbZesaYww9vSRbbQd59G9kS&v=2.0')
  //- script(src="/build/admin.min.js")
  script(src="/js/admin.js")
  script.
    $(function() {
      // time picker
      $('#datetimepicker1').clockpicker()
      $('#datetimepicker2').clockpicker()
      // file uploader
      var uploadToken = $('#uploadToken').val()
      var config = {
        previewFileType: 'image',
        browseLabel: '',
        removeLabel: '',
        uploadLabel: '',
        browseIcon: '<i class="glyphicon glyphicon-picture"></i>',
        previewClass: 'bg-warning',
        maxFileCount: 4,
        maxFileSize: 4000, // KB
        initialCaption: 'Please select images...',
        allowedFileTypes: ['image'],
        uploadUrl: "http://upload.qiniu.com",
        uploadAsync: true,
        uploadExtraData: {token: uploadToken},
        initialPreview: []
      }
      $('#initPosterUrls').children().each(function(i, e) {
        config.initialPreview.push('<img class="file-preview-image" src=' + $(e).val() + '>')
      });
      $('#inputPoster').fileinput(config)
      $('#inputPoster').on('fileuploaded', function(event, data, previewId, index) {
          var key = data.response.key
          $('#inputForm').append('<input type=hidden name="business[poster]" value=' + key + ' />')
      });
      $('#inputPoster').on('filebatchuploadcomplete', function(event, files, extra) {})
      // rating
      $('#inputStar').rating({
        stars: 5,
        step: 1,
        size: 'md',
        defaultCaption: '快评啊...',
        clearCaption: '评你妹...',
        starCaptions: {1:"很差!", 2:"较差.", 3:"一般...", 4:"不错~", 5:"很好~!"},
        starCaptionClasses: {1:"text-danger", 2:"text-warning", 3:"text-info", 4:"text-primary", 5:"text-success"},
        starCaptionClasses: {1:'label label-danger', 2:'label label-warning', 3:'label label-info', 4:'label label-primary', 5:'label label-success'}
      });
      // baidu map
      var map = new BMap.Map('myMap')
      var geocoder = new BMap.Geocoder()
      var city = '海门市'
      var addr = $('#inputAddress').val()
      if (!addr) addr = '海门市解放中路'
      function initMap(map, geocoder) {
        geocoder.getPoint(addr, function(point) {
          if (point) {
            map.centerAndZoom(point, 15)
            map.addOverlay(new BMap.Marker(point))
          }
        }, city);
        map.addEventListener('click', function(e) {
          map.addOverlay(new BMap.Marker(e.point))
          geocoder.getLocation(e.point, function(rs){
            map.panTo(e.point);
            var addrComp = rs.addressComponents;
            var addr = addrComp.city + ' ' + addrComp.district + ' ' + addrComp.street + ' ' + addrComp.streetNumber;
            $('#inputAddress').val(addr);
          });
        });
      }
      function refreshMap(map, geocoder) {
        var addr = $('#inputAddress').val();
        geocoder.getPoint(addr, function(point) {
          map.panTo(point);
          map.addOverlay(new BMap.Marker(point));
        }, city);
      }
      $('#mapModal').on('shown.bs.modal', function(e) {
        initMap(map, geocoder);
      });
      $('#inputAddress').change(function(e) {
        refreshMap(map, geocoder);
      });
    });
