extends ../../layout

block content
  .container
    .row
      table.table.table-hover.table-bordered
        thead
          tr
            th 海报
            th 名称
            th 地址
            th 电话
            th 营业时间
            th 星级
            th 人均消费
            th 更新时间
            th 查看
            th 修改
            th 删除
        tbody
          each item in businesses
            tr(class="item-id-#{item._id}")
              td: a(target="_blank" href=""): img(src="#{item.poster}" height="100px" width="160px")/
              td #{item.name}
              td #{item.address}
              td #{item.phone}
              td #{item.longtitude}, #{item.latitude}
              td #{item.opentime} - #{item.closetime}
              td #{item.star}
              td #{item.averagecost}
              td #{moment(item.meta.updateAt).format('YYYY/MM/DD HH:mm:SS')}
              td: a(target="_blank", href="/business/#{item._id}") 查看
              td: a(target="_blank", href="/admin/business/input/#{item._id}") 修改
              td
                button.btn.btn-danger.del(type="button", data-id="#{item._id}") 删除
  script(src="/js/admin.js")
