body, html {
    width: 100%;
    height: 100%;
    margin:0;
    font-family:"微软雅黑";
}

.thumbnail {
  max-height: 100px;
}

#myMap {
    height:400px;
}
#r-result{
    width:100%;
    font-size:14px;
}
