doctype
html
  head
    meta(charset="utf-8")
    title #{title}
    include ./includes/head
  body(style="padding-top:70px")
    include ./includes/header
    block content
    include ./includes/footer